@page
@model RegisterModel
@{
    ViewData["Title"] = "Registar Conta";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crie uma nova conta no Marketplace.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirmar Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-floating mb-3">
                <input asp-for="Input.Nome" class="form-control" placeholder="Nome Completo" />
                <label asp-for="Input.Nome">Nome Completo</label>
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="Input.TipoConta" class="form-control">
                    <option value="Comprador">Quero Comprar Carros</option>
                    <option value="Vendedor">Quero Vender Carros</option>
                </select>
                <label asp-for="Input.TipoConta">Tipo de Conta</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Morada" class="form-control" placeholder="Morada" />
                <label asp-for="Input.Morada">Morada</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.NIF" class="form-control" placeholder="NIF" />
                <label asp-for="Input.NIF">NIF (Obrigatório para Vendedores)</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Contactos" class="form-control" placeholder="Telefone" />
                <label asp-for="Input.Contactos">Telefone</label>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}